:root {
  --shadow: rgba(0, 0, 0, 0.10);
  --mred: #A3525B;
  --mgreen: #70A352;
  --mblue: #527AA3;
  --image: url(https://media.discordapp.net/attachments/310799529161129984/417408747812552715/zilesanamin.jpg);
  --ui-font: /*[[customFonts]]*/
  , 'Segoe UI', 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, Ubuntu, Cantarell, 'Fira Sans', sans-serif;
  --version: "WhatsApp by Mew v1.7.1";
  --message: "Updated on 16th of January. Ported some fixes to v1. Please switch to v2 because v1 is unsupported! Also, please report issues on GitHub because I can't log into USo forums. ";
  --changes: "Visit https://github.com/vednoc/dark-whatsapp for more info.";
}

body {
  font-family: var(--ui-font);
  background: none;
  background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--shadow);
}

progress[value]::-webkit-progress-value {
  background: var(--accent);
}

::-moz-progress-bar {
  background: var(--accent)!important;
}

#app .app {
  background: none;
  background-color: var(--dark);
}

.landing-wrapper::before {
  opacity: 0.6;
  background-color: var(--accent)!important;
}

.landing-window {
  border-radius: 4px!important;
  border: 1px solid var(--shadow);
  box-shadow: 0 8px 32px 0 var(--shadow)!important;
  background-color: var(--darker)!important;
}

.landing-main+div img:not(:hover) {
  opacity: 0.3;
}

.landing-wrapper div[data-ref] {
  border-radius: 0;
  filter: contrast(150%)!important;
  outline: 4px solid #FFF!important;
}

#startup svg>circle {
  stroke: var(--lighter)!important;
}

.app ._1qNwV {
  border: none;
  background-color: var(--dark)!important;
}

.app ._1qNwV [data-asset-intro-image] {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  filter: opacity(/*[[emojiOpacity]]*/
  );
  transition: opacity 1s ease!important;
}

._1qNwV .tzihe {
  font-size: 0;
}

.app ._1qNwV .tzihe::before {
  display: block;
  margin-bottom: -20px;
  line-height: 1.3;
  font-size: 20px;
  color: var(--accent);
  content: var(--message) var(--changes)!important;
}

.app ._1qNwV .tzihe::after {
  display: block;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 16px;
  content: var(--version)!important;
  border-top: 1px solid var(--darker);
}

#side ._2GB6m *,
#side ._1puWZ * {
  color: var(--lighter);
}

._2vikl {
  border-bottom: 1px solid var(--darker);
  background-color: var(--darker)!important;
}

.ZP8RM label,
.ZP8RM._19OGD {
  border: 0 solid var(--dark);
  background-color: var(--dark)!important;
}

.ZP8RM ._183ES,
.ZP8RM label input {
  color: var(--light);
  background-color: transparent;
}

.ZP8RM::after,
.ZP8RM>div::after {
  background-color: var(--darker)!important;
  border-color: var(--darker)!important;
}

._1w-mX,
._70TS5,
._11p3Q,
.r7sRK,
._8-yzK {
  color: var(--accent)!important;
  background-color: transparent!important;
}

._2DxRd,
._39cGk {
  border-color: var(--shadow)!important;
}

#side ._1AKfk {
  color: var(--accent);
  background-color: var(--dark);
}

._2UaNq,
._11GZy ._26JG5 {
  transition: 200ms ease-in-out;
  background-color: transparent!important;
}

._3RWII {
  box-shadow: 0 0 8px -1px var(--shadow)!important;
  background-color: transparent!important;
}

#side .P6z4j {
  color: #FFF!important;
  background-color: var(--accent)!important;
}

._7YAGC header,
._1KDYa header {
  min-height: 50px;
  height: auto;
  background-color: var(--darker)!important;
}

._7YAGC header>div:first-child {
  height: auto;
  padding: 12px 0!important;
}

._7YAGC ._1xGbt {
  margin-top: 2px!important;
  font-size: 16px;
}

._7YAGC .WX_XW,
._7YAGC ._2Lbqu,
._1JS2G {
  background-color: rgba(0, 0, 0, 0.5)!important;
}

._5UNoc ._3hnO5 {
  border-color: var(--accent)!important;
}

._2HyTU ._1g8sv,
._22aOT ._1g8sv {
  box-shadow: 0 2px 4px 0 var(--shadow)!important;
  background-color: var(--accent)!important;
}

._1DKwn {
  box-shadow: 0 2px 4px 0 var(--shadow)!important;
  background-color: var(--dark)!important;
}

select {
  color: var(--light);
  border-color: var(--accent);
}

._2fq0t ._2sNbV ._1CkkN,
._2fq0t ._2sNbV ._2EXPL {
  background-color: transparent;
}

._66JgU ._3_3Rs {
  border-bottom: none!important;
}

._2hHc6 {
  background-color: var(--darker)!important;
  box-shadow: 0 4px 16px 0 var(--shadow)!important;
}

._2hHc6 li:hover,
._2hHc6 li:hover div {
  color: var(--accent)!important;
  background-color: var(--dark)!important;
}

._1ays2 {
  display: flex!important;
  flex-direction: column!important;
}

._3KRbU {
  box-shadow: 0 4px 8px 2px var(--shadow)!important;
  background-color: var(--darker)!important;
}

#main header {
  border: none;
  background-color: var(--dark);
}

#main>header::after {
  border-bottom-color: var(--darker);
  background-color: transparent;
}

#main footer {
  border-top: 1px solid var(--darker);
  background-color: var(--darker);
}

#main footer>div {
  color: var(--light);
  border: none;
  background-color: var(--dark);
}

#main footer>div:nth-child(1)>div:nth-child(2) {
  border: none!important;
  color: var(--light);
  background-color: var(--darker)!important;
}

._2Pown {
  color: var(--light)!important;
  background-color: var(--dark)!important;
  box-shadow: 0 -1px 0 0 inset var(--darker)!important;
  border-color: var(--darker)!important;
}

._2ZZub {
  color: var(--lighter)!important;
  background-color: var(--darker)!important;
}

._2ZZub:hover {
  color: var(--light)!important;
  box-shadow: 0 2px 4px 0 var(--shadow)!important;
}

._3FeAD.focused div[style] {
  color: transparent!important;
}

._3FeAD div[style] {
  transition: color .15s ease;
  color: var(--lighter)!important;
}

.app ._3HZor {
  border-left-color: transparent!important;
}

.app ._3HZor ._1pYs5 {
  margin-top: 4px!important;
}

.app ._3HZor ._26JG5,
.app ._3HZor ._2UaNq {
  box-shadow: none;
  background-color: transparent;
}

.app ._3HZor ._23Un5 {
  color: var(--mred);
}

.app [class*="color-"] span {
  color: inherit!important;
}

.app ._3HZor ._1CRb5 ._2EXPL,
.app ._3HZor ._1CRb5 ._1CkkN {
  transition: 200ms ease-in-out;
  background-color: transparent;
}

.app ._3HZor .FPZFa {
  border-color: var(--accent);
}

.a5vst label {
  border: 0 solid var(--dark)!important;
  background-color: var(--dark)!important;
}

.a5vst .ZP8RM::after {
  border: none!important;
  background-color: var(--dark)!important;
}

._1WMT2._2V_Wj,
._1WMT2._2nA3s,
._1WMT2:hover {
  transition: 200ms ease-in-out!important;
  background-color: var(--dark)!important;
}

#app .app>div:nth-child(2) [data-asset-chat-background="true"] {
  filter: invert(100%) opacity(0.8)!important;
}

._1NZZN,
._3XHR- {
  background-color: transparent!important;
  box-shadow: none!important;
  border-color: var(--dark)!important;
}

._27U_m,
._2XHj8 {
  border-bottom: 1px solid var(--dark);
  background-color: var(--darker)!important;
}

._1iNsf>div:first-child,
._2KgjI>div:first-child {
  box-shadow: 0 1px 0 0 var(--darker);
  background-color: var(--dark)!important;
}

._2n0jo {
  background-color: var(--dark)!important;
  border-color: var(--darker)!important;
}

._2AP3i .cJP5q {
  border: none!important;
  transform: scale(1)!important;
  outline: 3px solid var(--accent)!important;
}

._2AP3i ._1LdNS:hover:not(.cJP5q):not(#spec) {
  outline: 3px solid var(--accent)!important;
}

::-moz-range-track {
  background-color: var(--lighter)!important;
}

span[class][data-icon="recalled-out"] svg path {
  fill: red!important;
}

.KYpDv ._1DZAH {
  bottom: 8px;
  border-radius: 4px;
  background-color: var(--shadow);
  padding: 2px 5px;
}

.KYpDv ._1DZAH ._3EFt_,
._2MyYN {
  margin-top: 0;
  color: var(--lighter);
}

.message span:last-child div {
  transition: 50ms ease-in-out!important;
}

.a7otO {
  box-shadow: 0 2px 8px 0 var(--shadow)!important;
  border-bottom: 3px solid var(--shadow)!important;
  background-color: var(--darker)!important;
}

.a7otO * {
  text-shadow: none!important;
  color: var(--lighter)!important;
}

#main ._3Xx0y {
  border: none!important;
  background-color: var(--darker)!important;
}

#main ._3Xx0y span {
  box-shadow: 0 0 8px 0 var(--shadow)!important;
  color: var(--light)!important;
  background-color: var(--dark)!important;
}

._3qblR,
._1SsXF {
  box-shadow: 0 0 0 1px var(--dark)!important;
  background-color: var(--dark)!important;
}

footer ._1ebw2 {
  box-shadow: 0 0 8px 0 var(--darker)!important;
  background-color: var(--darker)!important;
}

footer ._1ebw2>div:first-child {
  background-color: transparent!important;
  margin: 0 0 5px 10px !important;
}

footer ._1ebw2>div:last-child {
  position: relative;
  background-color: transparent!important;
  margin: 0 8px 5px!important;
}

footer ._1ebw2>div:last-child>div svg {
  border-radius: 6px;
  background-color: var(--dark);
  padding: 18px;
}

._2j-wI,
.XSeqj {
  color: var(--light);
  border-left: none!important;
  background-color: var(--darker)!important;
}

._2j-wI .XSeqj {
  transition: 300ms ease-in-out!important;
  background-color: transparent!important;
}

#main .qTFAl {
  transition: .15s ease!important;
}

#main .qTFAl:hover,
#main .qTFAl._3Z2tD {
  background-color: var(--shadow)!important;
}

._15wNI {
  background-color: var(--accent)!important;
  border-color: var(--accent)!important;
}

._15wNI ._1ygtt {
  border-bottom-color: var(--light);
  border-right-color: var(--light);
}

html[lang='vi'] .EopGb,
html[lang='nl'] .EopGb {
  width: 56px;
}

html[lang='vi'] ._2COY9,
html[lang='nl'] ._2COY9 {
  width: 92px;
}

.tail .tail-container {
  width: 0!important;
  height: 10px!important;
  z-index: 0!important;
  border-top: 12px solid var(--darker);
  background: none!important;
}

.message-in>.tail>.tail-container {
  left: -10px!important;
  top: 0;
  border-left: 10px solid transparent;
  border-radius: 5px 0 0 0;
}

.message-out>.tail>.tail-container {
  right: -10px!important;
  top: 0;
  border-right: 10px solid transparent;
  border-radius: 0 5px 0 0;
}

.message-gallery.tail-override-left,
.MS-DH .tail-override-left {
  border-radius: 7.5px!important;
}

._15CAo {
  background: linear-gradient(90deg, transparent, var(--darker) 40%!important;
}

[data-js-context-icon='true'] {
  background-image: none!important;
  background: none!important;
}

#main footer > div:nth-child(2) > div {
  border: 0;
}

._2Qm0c, ._2Qm0c label {
  box-shadow: none!important;
  background-color: var(--dark)!important;
}

._1drQ- .media-collection .btn-fill, ._1drQ- ._3hV1n {
  color: var(--lighter);
  background-color: var(--accent)!important;
}

.emojik {
  opacity: var(--emojiOpacity);
  transition: transform 200ms cubic-bezier(0.59, 0.57, 0.39, 1.04);
}

.emojik:focus, .emojik:hover, .emojik.selected {
  box-shadow: none!important;
  opacity: 1;
  transform: scale(1.15);
}

._2mlOb {
  border: 0!important;
  border-bottom: 1px solid var(--darker)!important;
  background-color: var(--darker)!important;
}

._1gFYk ul li:first-child {
  border-right: 1px solid var(--darker)!important;
}

.emojik.wa.b0 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/0.webp);
}

.emojik.wa.b1 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/1.webp);
}

.emojik.wa.b2 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/2.webp);
}

.emojik.wa.b3 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/3.webp);
}

.emojik.wa.b4 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/4.webp);
}

.emojik.wa.b5 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/5.webp);
}

.emojik.wa.b6 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/6.webp);
}

.emojik.wa.b7 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/7.webp);
}

.emojik.wa.b8 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/8.webp);
}

.emojik.wa.b9 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/9.webp);
}

.emojik.wa.b10 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/10.webp);
}

.emojik.wa.b11 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/11.webp);
}

.emojik.wa.b12 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/12.webp);
}

.emojik.wa.b13 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/13.webp);
}

.emojik.wa.b14 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/14.webp);
}

.emojik.wa.b15 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/15.webp);
}

.emojik.wa.b16 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/16.webp);
}

.emojik.wa.b17 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/17.webp);
}

.emojik.wa.b18 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/18.webp);
}

.emojik.wa.b19 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/19.webp);
}

.emojik.wa.b20 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/20.webp);
}

.emojik.wa.b21 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/21.webp);
}

.emojik.wa.b22 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/22.webp);
}

.emojik.wa.b23 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/23.webp);
}

.emojik.wa.b24 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/24.webp);
}

.emojik.wa.b25 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/25.webp);
}

.emojik.wa.b26 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/26.webp);
}

.emojik.wa.b27 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/27.webp);
}

.emojik.wa.b28 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/28.webp);
}

.emojik.wa.b29 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/29.webp);
}

.emojik.wa.b30 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/30.webp);
}

.emojik.wa.b31 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/31.webp);
}

.emojik.wa.b32 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/32.webp);
}

.emojik.wa.b33 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/33.webp);
}

.emojik.wa.b34 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/34.webp);
}

.emojik.wa.b35 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/35.webp);
}

.emojik.wa.b36 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/36.webp);
}

.emojik.wa.b37 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/37.webp);
}

.emojik.wa.b38 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/38.webp);
}

.emojik.wa.b39 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/39.webp);
}

.emojik.wa.b40 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/40.webp);
}

.emojik.wa.b41 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/41.webp);
}

.emojik.wa.b42 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/42.webp);
}

.emojik.wa.b43 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/43.webp);
}

.emojik.wa.b44 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/44.webp);
}

.emojik.wa.b45 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/45.webp);
}

.emojik.wa.b46 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/46.webp);
}

.emojik.wa.b47 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/47.webp);
}

.emojik.wa.b48 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/48.webp);
}

.emojik.wa.b49 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/49.webp);
}

.emojik.wa.b50 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/50.webp);
}

.emojik.wa.b51 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/51.webp);
}

.emojik.wa.b52 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/52.webp);
}

.emojik.wa.b53 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/53.webp);
}

.emojik.wa.b54 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/54.webp);
}

.emojik.wa.b55 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/55.webp);
}

.emojik.wa.b56 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/56.webp);
}

.emojik.wa.b57 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/57.webp);
}

.emojik.wa.b58 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/58.webp);
}

.emojik.wa.b59 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/59.webp);
}

.emojik.wa.b60 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/60.webp);
}

.emojik.wa.b61 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/61.webp);
}

.emojik.wa.b62 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/62.webp);
}

.emojik.wa.b63 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/63.webp);
}

.emojik.wa.b64 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/64.webp);
}

.emojik.wa.b65 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/65.webp);
}

.emojik.wa.b66 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/66.webp);
}

.emojik.wa.b67 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/67.webp);
}

.emojik.wa.b68 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/68.webp);
}

.emojik.wa.b69 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/69.webp);
}

.emojik.wa.b70 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/70.webp);
}

.emojik.wa.b71 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/71.webp);
}

.emojik.wa.b72 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/72.webp);
}

.emojik.wa.b73 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/73.webp);
}

.emojik.wa.b74 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/74.webp);
}

.emojik.wa.b75 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/75.webp);
}

.emojik.wa.b76 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/76.webp);
}

.emojik.wa.b77 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/77.webp);
}

.emojik.wa.b78 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/78.webp);
}

.emojik.wa.b79 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/79.webp);
}

.emojik.wa.b80 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/80.webp);
}

.emojik.wa.b81 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/81.webp);
}

.emojik.wa.b82 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/82.webp);
}

.emojik.wa.b83 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/83.webp);
}

.emojik.wa.b84 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/84.webp);
}

.emojik.wa.b85 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/85.webp);
}

.emojik.wa.b86 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/86.webp);
}

.emojik.wa.b87 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/87.webp);
}

.emojik.wa.b88 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/88.webp);
}

.emojik.wa.b89 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/89.webp);
}

.emojik.wa.b90 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/90.webp);
}

.emojik.wa.b91 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/91.webp);
}

.emojik.wa.b92 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/92.webp);
}

.emojik.wa.b93 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/93.webp);
}

.emojik.wa.b94 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/94.webp);
}

.emojik.wa.b95 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/95.webp);
}

.emojik.wa.b96 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/96.webp);
}

.emojik.wa.b97 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/97.webp);
}

.emojik.wa.b98 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/98.webp);
}

.emojik.wa.b99 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/99.webp);
}

.emojik.wa.b100 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/100.webp);
}

.emojik.wa.b101 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/a/101.webp);
}

.emojik.apple.b0 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/0.webp);
}

.emojik.apple.b1 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/1.webp);
}

.emojik.apple.b2 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/2.webp);
}

.emojik.apple.b3 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/3.webp);
}

.emojik.apple.b4 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/4.webp);
}

.emojik.apple.b5 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/5.webp);
}

.emojik.apple.b6 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/6.webp);
}

.emojik.apple.b7 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/7.webp);
}

.emojik.apple.b8 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/8.webp);
}

.emojik.apple.b9 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/9.webp);
}

.emojik.apple.b10 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/10.webp);
}

.emojik.apple.b11 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/11.webp);
}

.emojik.apple.b12 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/12.webp);
}

.emojik.apple.b13 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/13.webp);
}

.emojik.apple.b14 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/14.webp);
}

.emojik.apple.b15 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/15.webp);
}

.emojik.apple.b16 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/16.webp);
}

.emojik.apple.b17 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/17.webp);
}

.emojik.apple.b18 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/18.webp);
}

.emojik.apple.b19 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/19.webp);
}

.emojik.apple.b20 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/20.webp);
}

.emojik.apple.b21 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/21.webp);
}

.emojik.apple.b22 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/22.webp);
}

.emojik.apple.b23 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/23.webp);
}

.emojik.apple.b24 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/24.webp);
}

.emojik.apple.b25 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/25.webp);
}

.emojik.apple.b26 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/26.webp);
}

.emojik.apple.b27 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/27.webp);
}

.emojik.apple.b28 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/28.webp);
}

.emojik.apple.b29 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/29.webp);
}

.emojik.apple.b30 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/30.webp);
}

.emojik.apple.b31 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/31.webp);
}

.emojik.apple.b32 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/32.webp);
}

.emojik.apple.b33 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/33.webp);
}

.emojik.apple.b34 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/34.webp);
}

.emojik.apple.b35 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/35.webp);
}

.emojik.apple.b36 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/36.webp);
}

.emojik.apple.b37 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/37.webp);
}

.emojik.apple.b38 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/38.webp);
}

.emojik.apple.b39 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/39.webp);
}

.emojik.apple.b40 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/40.webp);
}

.emojik.apple.b41 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/41.webp);
}

.emojik.apple.b42 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/42.webp);
}

.emojik.apple.b43 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/43.webp);
}

.emojik.apple.b44 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/44.webp);
}

.emojik.apple.b45 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/45.webp);
}

.emojik.apple.b46 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/46.webp);
}

.emojik.apple.b47 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/47.webp);
}

.emojik.apple.b48 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/48.webp);
}

.emojik.apple.b49 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/49.webp);
}

.emojik.apple.b50 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/50.webp);
}

.emojik.apple.b51 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/51.webp);
}

.emojik.apple.b52 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/52.webp);
}

.emojik.apple.b53 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/53.webp);
}

.emojik.apple.b54 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/54.webp);
}

.emojik.apple.b55 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/55.webp);
}

.emojik.apple.b56 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/56.webp);
}

.emojik.apple.b57 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/57.webp);
}

.emojik.apple.b58 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/58.webp);
}

.emojik.apple.b59 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/59.webp);
}

.emojik.apple.b60 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/60.webp);
}

.emojik.apple.b61 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/61.webp);
}

.emojik.apple.b62 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/62.webp);
}

.emojik.apple.b63 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/63.webp);
}

.emojik.apple.b64 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/64.webp);
}

.emojik.apple.b65 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/65.webp);
}

.emojik.apple.b66 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/66.webp);
}

.emojik.apple.b67 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/67.webp);
}

.emojik.apple.b68 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/68.webp);
}

.emojik.apple.b69 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/69.webp);
}

.emojik.apple.b70 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/70.webp);
}

.emojik.apple.b71 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/71.webp);
}

.emojik.apple.b72 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/72.webp);
}

.emojik.apple.b73 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/73.webp);
}

.emojik.apple.b74 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/74.webp);
}

.emojik.apple.b75 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/75.webp);
}

.emojik.apple.b76 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/76.webp);
}

.emojik.apple.b77 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/77.webp);
}

.emojik.apple.b78 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/78.webp);
}

.emojik.apple.b79 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/79.webp);
}

.emojik.apple.b80 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/80.webp);
}

.emojik.apple.b81 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/81.webp);
}

.emojik.apple.b82 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/82.webp);
}

.emojik.apple.b83 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/83.webp);
}

.emojik.apple.b84 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/84.webp);
}

.emojik.apple.b85 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/85.webp);
}

.emojik.apple.b86 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/86.webp);
}

.emojik.apple.b87 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/87.webp);
}

.emojik.apple.b88 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/88.webp);
}

.emojik.apple.b89 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/89.webp);
}

.emojik.apple.b90 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/90.webp);
}

.emojik.apple.b91 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/91.webp);
}

.emojik.apple.b92 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/92.webp);
}

.emojik.apple.b93 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/93.webp);
}

.emojik.apple.b94 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/94.webp);
}

.emojik.apple.b95 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/95.webp);
}

.emojik.apple.b96 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/96.webp);
}

.emojik.apple.b97 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/97.webp);
}

.emojik.apple.b98 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/98.webp);
}

.emojik.apple.b99 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/99.webp);
}

.emojik.apple.b100 {
  background-image: url(https://raw.githubusercontent.com/vednoc/wae/dev/i/100.webp);
}

._3Fq9Y ._3RiLE, ._3gUiM ._2dA13 ._1CnF3, ._2dA13 ._18wuJ, ._2dA13 .IuYNx {
  box-shadow: 0 0 0 1px var(--darker), 0 8px 16px 0 var(--shadow)!important;
  background-color: var(--darker)!important;
}

._3PQ7V {
  color: var(--lighter)!important;
  background-color: var(--accent)!important;
}

._3PQ7V:hover {
  opacity: 0.8;
}

._23_1v:hover {
  box-shadow: none!important;
  color: var(--accent)!important;
  background-color: transparent!important;
}

._1VD7W {
  background-color: var(--accent);
  border-color: var(--accent);
}

._2n-96 ._3L-be {
  border: 5px dashed var(--accent)!important;
  color: var(--light)!important;
}

.GpvML, ._1ypOz, ._3fktq, ._1g8sv {
  background-color: var(--dark)!important;
  box-shadow: 0 2px 4px var(--shadow)!important;
}

.CzI8E, ._31WRs ._1DTd4, ._2Fvnm ._3ogpF {
  border-bottom-color: var(--accent)!important;
}

span[data-icon*="status-v3"] > svg > path:first-child {
  opacity: 0.55!important;
}

.qlhJH hr {
  color: var(--dark)!important;
}

span[data-icon^="business-"] > svg path, span:not([data-icon="image"]) > svg > path {
  transition: 200ms ease;
  fill: var(--icon)!important;
}

span:not([data-icon="image"]):hover > svg > path {
  opacity: 0.3!important;
}

.Ijb1Q::after {
  box-shadow: 0 4px 8px 2px var(--shadow)!important;
}

span[data-icon^="default-"] svg path:last-child {
  opacity: 0.7;
  fill: var(--icon)!important;
}

span[data-icon="msg-dblcheck"] svg path, span[data-icon="status-dblcheck"] svg path, span[data-icon="msg-check"] svg path, span[data-icon="status-check"] svg path {
  fill: var(--light)!important;
  opacity: 0.5!important;
}

span[data-icon="msg-dblcheck-ack"] svg path, span[data-icon="status-dblcheck-ack"] svg path, span[data-icon="msg-dblcheck-ack-light"] svg path, span[data-icon="status-v3-unread"] > svg > path:last-child {
  fill: var(--accent)!important;
  opacity: 1!important;
}

span[data-icon="logo"] svg path:nth-child(1) {
  fill: #FFF!important;
}

span[data-icon="alert-phone"] svg path:first-child, span[data-icon="logo"] svg path:nth-child(1n+2), span[data-icon="whatsapp-logo"] svg path:first-child {
  fill: var(--darker)!important;
}

span[data-icon="emoji-gifs"] svg path {
  fill: var(--icon)!important;
  fill-opacity: 1!important;
}

span[data-icon="exit"] svg path, span[data-icon="thumbs-down"] svg path, span[data-icon="delete-danger"] svg path {
  fill: var(--mred)!important;
}

span[data-icon="audio-file"] svg path {
  fill: rgba(255, 173, 31, 0.8)!important;
}

input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  background: var(--accent)!important;
}

::-webkit-scrollbar-track, #main ._2AqZl {
  background-color: var(--shadow);
}

::selection, ::-moz-selection {
  color: var(--light)!important;
  background-color: var(--accent)!important;
}

::placeholder, ::-moz-placeholder, ::-webkit-input-placeholder, ._66JgU ._3_3Rs input, ._66JgU ._3_3Rs ::placeholder, ._3jzsh ._3GIEC, ._3jzsh ._6xQdq, .AVd_p, ._1WMT2 ._2V2qB, ._26Nvu, ._27U_m .Y1iVg, ._2v02G, ._15aTv, ._3uHCS, #main ._1F9Ap, ._1drQ- header *, ._1drQ- .media-body *, ._2dLx9 ._3MBzN div {
  color: var(--lighter)!important;
}

progress[value]::-webkit-progress-bar, progress {
  background: var(--darker);
}

.landing-main + div, ._1MOym, #side > header, ._7YAGC, ._1KDYa, ._7YAGC ._3hhmj ._1CkkN, ._2HyTU, ._22aOT, ._2fq0t ._1AKfk, ._3jzsh, .a5vst, .a5vst .ZP8RM._19OGD
/*,._3HZor ._1iMEz._3sdhb*/

, .YAPQk, .message-in > div:not(.a81-s) > div, .message-out > div:not(.a81-s) > div, ._3tMyP, ._3_nIn, ._3Mf7Z, ._3qAvH, ._2x9yi, ._1omcu._2saG0, ._2saG0, .NeQRT, ._2dLx9 .IMn_C, ._2sn3C {
  background-color: var(--darker)!important;
}

.landing-main *, .app ._1qNwV *, ._3wYPn *, ._2hHc6 div, ._1ArIP div, #main header ._1WBXd *, #main > header > div span[title], .app ._3HZor header div, .app ._3HZor span, .app ._3HZor ._1CRb5 ._2EXPL *, ._1iNsf > div:first-child > div > div *, ._2KgjI > div:first-child > div > div *, [class*="message-"] div > div:last-child span, ._3Fq9Y ._3RiLE *, ._3gUiM ._1CnF3 * {
  color: var(--light);
}

._3PxOr rect, span._3PxOr svg path:nth-child(1), span[data-icon^="default-"] svg > path:first-child, span[data-icon^="ptt-"] svg path:first-child {
  fill: var(--dark)!important;
}

.app ._1qNwV::after, .velocity-animating > .tail > .tail-container {
  border-top-color: var(--accent)!important;
}

#app .app #side, .app ._3HZor header, #main ._1hhkM, ._1drQ- .media-collection {
  background-color: var(--darker);
}

#side ._2GB6m, ._21bWq, ._22oFl, ._3KRbU > span > span, ._27U_m::before, div.message-in.velocity-animating > div > div, div.message-out.velocity-animating > div > div, ::-moz-range-thumb, ._7sUPO, ._2j-wI .XSeqj._1Yz8K, ._2j-wI .XSeqj:hover, ._2avTY .Orl3a, ._1Wbpa, ._1drQ- header, ._1gcLL::after, ._22cMG.fS1bA .nDKsM {
  background-color: var(--accent)!important;
}

#side ._2t3oV, #side ._1puWZ {
  background-color: var(--mred)!important;
}

._44uDJ, ._2UaNq :not(#z), ._1w7vp, ._27U_m .Y1iVg._3caqI, .message-in .selectable-text, .message-out .selectable-text, .quoted-mention, ._1upWv, ._3ZVco, ._1FWQp, ._3qAvH *, ._2Qm0c input, ._7HWvs, .A_Kh_, .IMn_C span, .azEEh, ._3HwRC, ._1lxsr {
  color: var(--light)!important;
}

#side .matched-text, .Ir_Ne, ._3HZor .matched-text, #app .app > div:nth-child(2) ._2AJf5 span, a[href].selectable-text, ._1Jc9f, .matched-mention, .matched-mention .at-symbol, span._2ZAIy {
  color: var(--accent)!important;
}

#pane-side, ._11GZy ._2UaNq, .WOXAS, ._1v8mQ, ._3979j, ._2fq0t ._39pS-, ._1VwzF, .a5vst label input, #pane-side ._2EXPL, ._1iNsf, ._2KgjI, ._1iNsf > div:first-child > div > div, ._2KgjI > div:first-child > div > div, .app-wrapper-web ._2dLx9 {
  background-color: transparent!important;
}

._2UaNq._3mMX1, ._2UaNq:hover, ._2fq0t ._2Lev2, .k1feT ._2fq0t ._2EXPL._1f1zm, .k1feT ._2fq0t ._2EXPL:hover, .app ._3HZor ._26JG5:hover, .YAPQk ._1f1zm > ._3j7s9, .YAPQk ._3j7s9:hover, ._1WMT2 .tail:not(.PJFFv), #app .app > div:nth-child(2) ._2rGVQ, ._3a29n, ._1mrMQ, .HNuTV, footer ._1ebw2 > div:first-child > div, .QChXd, ._20KNO, .RxbUw, ._2PpWQ > div, .iqJMX, ._1drQ-, ._1gFYk, ._1gFYk .iqJMX, ._3Fq9Y, #startup, #initial_startup, ._3gUiM ._2EXPL._1f1zm, ._3gUiM ._2EXPL:hover, ._2EXPL._3ntaf:hover, .XOIaT, .PNlAR:hover, ._1WZqU:hover, .drag-drop, ._2n-96, ._2dLx9 ._3MBzN, .QRsOy, ._3FeAD._2nW8k {
  background-color: var(--dark)!important;
}

._2UaNq::after, ._2WP9Q, .app ._3HZor ._27Ie2, .app ._3HZor ._26JG5::before {
  border-color: transparent!important;
}

._7YAGC ._1CRb5, ._1KDYa ._2LSbZ, ._26JG5, #app .app > div:nth-child(2) ._2AJf5, #app .app > div:nth-child(2) ._19xqi {
  box-shadow: none!important;
  background-color: transparent!important;
}

select option, .k1feT ._2sNbV > ._1CkkN:hover, ._2fq0t ._2sNbV ._1CkkN:hover, #main, .app ._3HZor ._1CRb5 ._2EXPL._3xj48:hover, .app ._3HZor ._1CRb5 ._1CkkN:hover {
  background-color: var(--dark);
}

._3_-Si + ._3_-Si ._2x2XP, ._2Ji5m {
  border-color: var(--darker)!important;
}

._1WMT2::before, ._1WMT2::after, ._1WMT2 .tail-container, .starred-msg-wrapper .tail-container, .message-gallery .tail-container, .MS-DH .tail-container, ._2fq0t span._3fOoY, object {
  display: none!important;
}

._1iNsf::before, ._2KgjI::before, .app-wrapper-web ._2dLx9::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--dark);
  opacity: 0.8;
  z-index: -1;
}

._3yth3, ._2sOZc {
  box-shadow: 0 2px 4px -1px var(--shadow)!important;
  background-color: var(--darker)!important;
}

._3EQsG._1eJVc, ._1rK-b, .a81-s > div + span > div {
  background: none!important;
}

[data-js-context-icon='true'] + div, ._2avTY {
  background: var(--darker)!important;
}

._1oNFt.-XQxp path, span[data-icon^="ptt-"] svg path:last-child, ._3CSsZ > svg > path:first-child, span svg > path[fill="#00BFA5"] {
  fill: var(--accent)!important;
}

span[data-icon^="chevron-"] svg path, span[data-icon="x-viewer"] svg path, span[data-icon="download"] svg path, span[data-icon="forward"] svg path, span[data-icon="star-btn"] svg path, span[data-icon="audio-file"] svg path:last-child, span[data-icon="new-group"] svg path, span[data-icon="add-user-light"] svg path, span[data-icon="link"] svg path, span[data-icon="ptt-out-gray"] svg path:last-child {
  fill: var(--icon)!important;
}

@media screen and min-width 1441px {
  html[dir=ltr] ._3dqpi {
    animation: _104Un .5s cubic-bezier(0.18, 0.89, 0.32, 1.38);
  }
  #app .app {
    border-radius: 8px;
    box-shadow: 0 4px 24px -2px var(--shadow);
  }
}
