body,
.po7knmyp,
._5f0v,
._6q1a ._4sp8,
.nyxn78s7,
._3z62,
._4u-c,
.gp5lzjy8,
._6q1a ._5irm._7mkm,
.po7knmyp,
.gp5lzjy8,
.i2eieyeb,
.nred35xi {
    background-color: #000 !important;
    color: #cecece !important;
}

._6q1a ._5irm._7mkm {
    border-top: 1px solid;
}

h1,
h2,
h3,
h4,
h5,
span,
.oo9gr5id,
._364g,
._4p9w ._1ht6,
._497p,
._ih3,
._4k7a,
.oo9gr5id {
    color: #95a5a6 !important;
}

._5i_d,
._29_7 ._3058._s1-._4k7c {
    border: 1px solid rgba(255, 255, 255, .1);
}

span._509v {
    background: none;
}

._nd_ ._hh7 {
    background-color: #0084ff !important;
}

._nd_ ._hh7 span {
    color: #fff !important;
}

._4rv3._7og6 svg path {
    fill: #cecece;
}

._7kpk {
    background-color: rgba(68, 68, 68, 0.82);
}

._6q1a ._8rsr {
    fill: #000;
}
