body, .po7knmyp, ._5f0v, ._6q1a ._4sp8, .xdo5vwd7, .nyxn78s7 {
    background-color: #262626;
    color: #cecece;
}

h1, h2, h3, h4, h5, span, .oo9gr5id, ._364g, ._4p9w ._1ht6 {
    color: #95a5a6;
}

._5i_d {
    border: 1px solid rgba(255, 255, 255, .1);
}

span._509v {
    background: none;
}

._nd_ ._hh7 {
    background-color: #0084ff!important;
}

._nd_ ._hh7 span {
    color: #fff!important;
}
